/**
 * myAlly.scss
 */
@import "../../common/style/_mixin";
.header {
  top: -1px;
  z-index: 100;
  .navbar {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: height .5s linear 0s;
    transition: height .5s linear 0s;
  }
  &.hide {
    opacity: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity 0.5s linear 0s;
    transition: opacity 0.5s linear 0s;
  }
}
.page-content {
  padding: 45px 0 0;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99;
  background-color: $background;
}

.page-invite {
  background-color: #fff;
  position: relative;
  z-index: 9;
  .item-wrap {
    //padding-top: 30px;
    padding-top: 2%;
    h3 {
      font-size: 16px;
      color: #2e2e2e;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      color: #7c7c7c;
      line-height: 18px;
    }
    &:last-child {
      .text-wrap {
        border-bottom: none;
      }
    }
  }
  .icon-wrap {
    position: relative;
    text-align: center;
  }
  .icon {
    display: inline-block;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    background: {
      size: 100%;
    }
    // background-color: #000;
  }
  .icon-invite {
    background: {
      image: url("#{$img_path}common/images/invite_directly.png");
    }
  }
  .icon-invite-qrcode {
    background: {
      image: url("#{$img_path}common/images/invite_erweima.png");
    }
  }
  .text-wrap {
    width: 100%;
    padding: 15px 15px 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.animated {
  animation: ani .5s linear 0s;
}

@keyframes ani {
  0% {
    height: auto;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

.showAnimate {
  height: auto;
  z-index: 0;
}



