@import "../../common/style/_mixin";

body{
	
}
#signinPage{
	background-image:url(http://welinklife.b0.upaiyun.com/1/LTE=/SVRFTS1QVUJMSVNI/MA==/20150303/vNTT-0-1425349103870.jpg);
	background-size:100% ;
	position: fixed;
	width:100%;
	height:100%;
	.guide{
		background-image: url(http://welinklife.b0.upaiyun.com/1/LTE=/SVRFTS1QVUJMSVNI/MA==/20150303/vNTT-0-1425359554166.png);
		background-size:100%;
		width:30px;
		height:30px;
		position: absolute;
		right:20px;
		top:20px;
	}
	.signinBtnLayout{
		padding:80px 0;
	}
	.signinBtn{
		position: relative;
		/* z-index:1; */
		left:16px;
		top:16px;
		border-radius:50%;
		background-image:url(http://welinklife.b0.upaiyun.com/1/LTE=/SVRFTS1QVUJMSVNI/MA==/20150303/vNTT-0-1425357495182.png);
		background-size: 100%;
		width:138px;
		height:138px;
		color:#fff;
		&.already{
			background-image: url(http://welinklife.b0.upaiyun.com/1/LTE=/SVRFTS1QVUJMSVNI/MA==/20150303/vNTT-0-1425361099694.png);
			background-size:100%;
		}
		p{
			font-size:12px;
			text-align: center;
			padding: 10px;
			strong{
				font-size:15px;
				margin:0 0.3em;
			}
		}
		h1{
			font-size:15px;
			text-align: center;
		}
	}
	.signinBtnBg{
		background-color:rgba(255,255,255, 0.45);
		width:170px;
		height:170px;
		position: absolute;
		/* z-index:0; */
		border-radius:50%;
		&.animation{
			background-image:url(http://welinklife.b0.upaiyun.com/1/LTE=/SVRFTS1QVUJMSVNI/MA==/20150303/vNTT-0-1425357495171.png);
			background-size:100%;
			background-repeat:no-repeat;
			@include animation();
		}
	}
	.signinBtnFlex{
		position: relative;
		width:170px;
		height:170px;
	}
	.signinCentent{
		text-align: center;
		color:#de1439;
		.integral{
			font-size:30px;
			font-weight: normal;
		}
		.descript{
			font-size:15px;
		}
	}
}