@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* @keyframes slideinfromright {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideouttoright {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}
@keyframes slideinfromleft {
    0% {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideouttoleft {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}
@keyframes slideinhrombottom {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideouttobottom {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
}
@keyframes slideinfromtop {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideouttotop {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade, .slide {
    animation-duration: 0.3s;
    animation-timing-function: ease;
}
.fade {
    opacity: 0;
}
.fadeIn {
    animation-name: fadein;
    opacity: 1;
}
.fadeOut {
    animation-name: fadeout;
    opacity: 0;
}
.slide.slideTop {
    transform: translate3d(0, -100%, 0);
}
.slide.slideBottom {
    transform: translate3d(0, 100%, 0);
}
.slide.slideLeft {
    transform: translate3d(-100%, 0, 0);
}
.slide.slideRight {
    transform: translate3d(100%, 0, 0);
}
.slide.slideIn, .slide.slideInFromRight {
    animation-name: slideinfromright;
    transform: translate3d(0, 0, 0);
}
.slide.slideIn, .slide.slideInFromLeft {
    animation-name: slideinfromleft;
    transform: translate3d(0, 0, 0);
}
.slide.slideOut, .slide.slideOutToLeft {
    animation-name: slideouttoleft;
    transform: translate3d(-100%, 0, 0);
}
.slide.slideOut, .slide.slideOutToRight {
    animation-name: slideouttoright;
    transform: translate3d(100%, 0, 0);
}
.slide.slideInFromTop {
    animation-name: slideinfromtop;
    transform: translate3d(0, 0, 0);
}
.slide.slideInFromBottom {
    animation-name: slideinfrombottom;
    transform: translate3d(0, 0, 0);
}
.slide.slideOutToTop {
    animation-name: slideouttotop;
    transform: translate3d(0, -100%, 0);
}
.slide.slideOutToBottom {
    animation-name: slideoutoobottom;
    transform: translate3d(0, 100%, 0);
}


@keyframes pulsation {
    0% {
        transform: rotate(180deg) translate3d(0, 30%, 0);
        opacity: 0.5;
    }
    50% {
        transform: rotate(180deg) translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: rotate(180deg) translate3d(0, -30%, 0) ;
        opacity: 0.5;
    }
} */

@keyframes disappear{
    0% {
        transform:scale(1);
        opacity:0.8;
    }
    20%{
        transform:scale(0.8);
        opacity:1;
    }
    100%{
        transform:scale(3);
        opacity:0.1;
    }
}
//消散
.disappear-fast{
    animation-name: disappear;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

/*动画显示*/
@keyframes bounceIn {
    0%, 100%, 20%, 40%, 60%, 80% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;

        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceOut {
    20% {
        transform: scale3d(.9, .9, .9)
    }
    50%, 55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1)
    }
    100% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
}
.bounceIn {
    animation-name: bounceIn;
    animation-duration: .75s
}

.bounceOut {
    animation-name: bounceOut;
    animation-duration: .75s
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeInDown {
    animation-duration: .75s;
    animation-name: fadeInDown;
}
@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.bounceInLeft {
    animation-duration: .75s;
    animation-name: bounceInLeft;
}
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.bounceInRight {
    animation-duration: .75s;
    animation-name: bounceInRight;
}
