@import "../../common/style/_mixin";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
 // overflow-y: auto;
  background-color: #d8312d;
 // height:100%
}
select{
  background-color: #fff1c4;
  -webkit-appearance:none;
  background-image: url("#{$img_path}/common/images/icon_dropdown.png");
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 0 5px;
  font-size: 14px;
  border:none;
  height:40px;
  line-height: 40px;
  display: inline-block;
  color: #8b733b;
  border-radius: 3px;

}
input {
  outline: none
}
.gotoIndex{
  width:87.7%;
  margin: 2% auto;
}
#scratchCardPage {
  background-color: #d8312d;
  min-width: 22.86rem;
   height: 100%;
  margin: 0px auto;
  padding-bottom: 10%;
  overflow-y: auto;
  //position: relative;
 // z-index: 1;
  //overflow: hidden;
}

label {
  display: block;
}

.header_SC, .footer_SC {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  position: relative;
  z-index: 1;
  img {
    width: 100%;
  }
}
.footer_SC{
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.scratchCardMain {
  width: 87.7%;
 // background: #fff;
  margin-left: 6%;
  // height: 63%;
  //overflow: hidden;
 // margin-bottom: 11%;
  z-index: 5;
  position: relative;
  .inner {
   // background: #FDD000;
    color: #E20012;
    margin: 0 3%;
    padding: 3%;
    //height: 100%;
    .mainWord {
      width: 70%;
      margin: 0 auto;
      padding-bottom: 3%;
    }
    .grid {
      .row {
        margin-bottom: 3%;
        width: 100%;

      }
    }
    form {
      //height: 90%;
      label {
        font-size: 1.6rem;
        color: #C31C09;
      }
      input {
        text-align: left;
        background: #fff1c4;
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        border: none;
        padding-left: 2%;
        display: block;
        color: #8b733b;
        width:100%;
        &::-webkit-input-placeholder
        {
          color: #8b733b !important;
        }
      }
      div {
        &.yzm {
          border-radius: 3px;
          background: #fee4a4;
          height: 40px;
          margin-left: 6%;
        }
      }

      fieldset {
        border: none;
        border-top: 1px solid #fff;
        text-align: center;
        margin-top: 5%;
       // height: 200px;
        //overflow: hidden;
        width: 100%;
        legend {
          font-size: 1.8rem;
          line-height: 2.50rem;
          margin-bottom: 3%;
          padding: 0 3%;
          width: 8rem;
          color: #fff;
        }
        .grid {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          margin-top: 2%;
         // padding-bottom:15%;
        }
        .row {
          .col-16 {
            color: #fff;
            font-size: 16px;
          }
          div {
            text-align: left;
            line-height: 2.5rem;
            font-size: 1.4rem;
          }
        }
      }

    }

    .btn {
      width: 7.14rem;
      height: 40px;
      line-height: 40px;
      font-size: 1.4rem;
      border-radius: 3px;
      color: #bd0009;
      background-color: #fff;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding: 0;
      &#submit{
        width:100%;
      }

      &.btnEx {
        color: #db0009;
        background-color: #fff;
        &.disabled {
          background-color: #cecece;
          color: #fff;
        }
      }
    }
  }

  .writeBox {
    padding-top: 10%;
    color: #fff;
    .btn {
      margin: 2% auto;
      width: 100%;
      height: 44px;
      line-height: 44px;
      font-size: 1.6rem;
    }
    form{
      input{
        width: 100%;
        margin-bottom: 3%;
      }
    }
    .row:nth-child(3) {
      position: relative;
      .right-icon {
        position: absolute;
        right: 5px;
        top: 10px;
        background-image: url("#{$img_path}common/images/scratchCard/icon_right.png");
        width: 10px;
        height: 15px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

  }
}

/*兑奖*/
.popExcharge{
  background-color: rgba(0,0,0,.75);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 9;
  .resultBox {
    width:87.7%;
    margin: 10% auto 0;
    .resultTitleImg{
      width:100%;
    }
    .decorate{
      position: absolute;
      width: 13%;
      right: 3%;
      margin-top: 5%;
    }
    #resultList{
      background-color: #ffefc6;
      width: 80%;
      /* margin: 0 auto; */
      position: relative;
      left: 50%;
      margin-left: -40.1%;
      padding-bottom: 5%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      li{
        width: 80%;
        margin: 0 auto;
      }
    }
    .tips {
      font-size: 1.3rem;
      margin:5% 3%;
      color: #ac5a00;
    }
    a {
      height: 40px;
      line-height: 40px;
      font-size: 1.4rem;
      display: block;
      text-align: center;
      padding: 0;
      &.btn.btnEx{
        width: 100%;
        margin: 0 auto;
        color: #fff;
        background-color: #ffb600;
        border-radius: 5px;
      }

    }
    span {
      color: #fff;
    }
    img {
      width: 60%;
      margin: 0 auto;
    }
    .name{
      text-align: center;
      margin-top: 3%;
    }
  }
}


.wl-trans-dialog{
  z-index: 9;
}
.consignee {
  margin-top: 10px;
  margin-bottom: 10% !important;
  padding: 10px 0;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  .row{
    margin-bottom: 0 !important;
    padding:0;
  }

}

@mixin place-icon($left, $top) {
  background-image: url("#{$img_path}common/images/scanCode/pic6.png");
  background-repeat: no-repeat;
  background-size: 100%;

}
.right-icon, .iconfont.right-icon {
  font-size: 18px;
  &:after {
    display: block;
    content: " ";
    text-indent: -999px;
    @include place-icon(right, -344px);
    width: 50px;
    height: 50px;
  }
}
.telDialog .cont p{
  padding:5%;
}

/*@media screen and (max-height: 481px) {
  .scratchCardMain {
     height: 58%;
  }
  .scratchCardMain .inner form fieldset {
    height: 40%;
  }
  .scratchCardMain .inner form fieldset .grid {
     height: 55%;
  }
  .scratchCardMain .resultBox .tips {
     font-size: 1.4rem;
     margin: 1% 3%;
  }
  .scratchCardMain .resultBox img {
     width: 50%;
  }
  .scratchCardMain .writeBox .btn {
     margin: 10% auto 0%;
  }
}*/


