body{
  height:auto;
  background-color: #4F0791;
}
.inviteSP {

  overflow-y: auto;
  margin: 0 auto;
  max-width:750px;
  padding: 0; }


//article {
//  width: 95%;
//  margin: 0 auto;
//  background-image: url("http://mikumine.b0.upaiyun.com/common/images/bg_invite6.png");
//  background-size: 100%;
//  background-repeat: no-repeat;
//  .boxContent {
//    background: #fff;
//    width: 100%;
//    margin-top: 2%;
//    display: inline-block;
//  }
//  h4 {
//    color: #c91e45;
//    font-size: 16px;
//    text-align: center;
//    padding: 3% 0;
//    position: relative;
//    span {
//      background-color: #fff;
//      z-index: 9;
//      padding: 0 2%;
//      position: relative;
//    }
//    &:after {
//      content: "";
//      display: block;
//      position: absolute;
//      height: 1px;
//      width: 92%;
//      top: 47%;
//      z-index: 0;
//      background-color: #c91e45;
//      left: 4%;
//    }
//  }
//  .list {
//    border-top: 1px solid #e5e5e5;
//    border-bottom: 1px solid #e5e5e5;
//    padding: 2%;
//    dl {
//      overflow: hidden;
//      margin: 2% 0 0;
//    }
//    .round {
//      width: 60px;
//      height: 60px;
//      background-color: #f6f6f6;
//      border-radius: 50%;
//      text-align: center;
//      margin: 0 auto;
//    }
//    dd {
//      border-bottom: 1px solid #e5e5e5;
//      padding: 2% 0;
//    }
//    dd h3 {
//      font-size: 16px;
//      color: #2e2e2e;
//    }
//    dd p {
//      color: #7c7c7c;
//    }
//    .grid:last-child dd {
//      border-bottom: none;
//    }
//  }
//}
//
//.makeMoneyWrap {
//  margin-top: -3px;
//  position: relative; }
//
//.rule {
//  color: #fff;
//  p {
//    padding: 2% 5%;
//    line-height: 20px;
//    h4 {
//      color: #fff;
//      span {
//        background-color: #fb4e90;
//        &:after {
//          width: 100%;
//          background-color: #fff;
//          left: 0;
//        }
//      }
//    }
//    .common_tel{
//      text-decoration: underline;
//      color: blue;
//    }
//  }
//
//}
//img.wxCode{
//  width:60%;
//  margin: 5% auto 0;
//
//}

