@import "../../common/style/_mixin";
.logo {
  width: 18%;
  margin: 6% auto;
  text-align: center;
  p {
    margin-top: 8%;
  }
  img {
    margin: 0 auto;
  }
}
.main .row {
  border-bottom: 1px solid #e5e5e5;
  padding: 3% 0;
  font-size: 14px;
  margin: 0 5%;
  &.tips{
    font-size: 12px;
    color: $colorLighter;
  }
  &:last-child,&:nth-last-child(2){
    border-bottom: none;
  }
  &:last-child{
    padding:0;
  }
}
input,textarea{
  width: 100%;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  color:$colorDeep;
}
textarea{
  height:54px;
  width: 100%;
  word-wrap: break-word;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  font-size: 12px;
}
.submit{
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  background-color: $foreground;
  color: #fff;
  border-radius: 3px;
}


