section {
  height: 100%;
  background-color: #fb2746;
  overflow: auto;
}

.content {
  position: relative;
  overflow: auto;
  .btn-receive {
    display: inline-block;
    position: absolute;
    width: 43%;
    height: 6rem;
    top: 84%;
    left: 28%;
  }
}