section {
  height: 100%;
  background-color: #6210B3;
  overflow: auto;
}

.content {
  position: relative;
  overflow: auto;
  .btn-receive {
    display: inline-block;
    position: absolute;
    width: 30%;
    height: 4rem;
    top: 87%;
    left: 35%;
  }
}